@import url("https://fonts.googleapis.com/css?family=Nunito");

* {
  box-sizing: border-box;
  font-family: Nunito;
  color: #3e3f43;
}
.App-wrapper {
  height: 57.5em;
}

.App {
  height: 49em;
  background: #ffffff;
  background-image: url("./assets/LogoTableColor.png");
  background-repeat: no-repeat;
  background-position: right;
  background-position-y: -1em;
}

.App-header {
  height: 5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.App-logo {
  background-image: url("./assets/logo.png");
  background-color: #ffffff;
  background-position: cover;
  background-repeat: no-repeat;
  margin-left: 5em;
  height: 2.06em;
  width: 12em;
}

.Home-button {
  border: none;
  background: none;
  color: #f3c552;
  margin-right: 3em;
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.37rem;
  padding: 0;
}

.Nav-button {
  border: none;
  background: none;
  margin-right: 3em;
  font-size: 1rem;
  line-height: 1.37rem;
  padding: 0;
}

.SignUp-button {
  background: none;
  height: 2.5em;
  width: 8.56em;
  margin-right: 1.75em;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.37rem;
  border: 1px solid #3e3f43;
  box-sizing: border-box;
  border-radius: 4px;
}

.Explore-card {
  margin-left: 6.37em;
  margin-top: 8.56em;
  width: 31.5em;
}
h5 {
  background: none;
  font-weight: normal;
  font-size: 2.26rem;
  line-height: 3.06rem;
  color: #3e3f43;
  margin: 0;
}

h2 {
  margin: 1rem 0 1rem 0;
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 6.12rem;
}

.Theme-button {
  background: #f3c552;
  width: 10.93em;
  height: 3.12em;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.375;
  color: #ffffff;
  border: none;
  border-radius: 4px;
}
.AboutUs {
  height: 59.37em;
}
.Page-heading {
  height: 6.125em;
  margin: 0 6.25em 0 6.25em;
  display: flex;
  align-items: center;
}
.Small-logo {
  background-image: url("./assets/SmallLogo.png");
  background-color: #ffffff;
  background-position: cover;
  background-repeat: no-repeat;
  height: 1.875em;
  width: 1.875em;
  margin-right: 0.5em;
}
h3 {
  font-size: 2.25rem;
  line-height: 3.06rem;
  color: #3e3f43;
  margin: 0;
}
h1 {
  font-weight: 800;
  font-size: 4.5rem;
  color: #2222221a;
  line-height: 6.125rem;
  text-align: right;
}

.Line {
  flex-grow: 2;
  margin-left: 1em;
  border: 0.0625em solid #000000;
}

.AboutUs-content {
  height: 50.75em;
  position: relative;
  background: none;
}

.SaladBowlsImg {
  position: absolute;
  width: 37.125em;
  height: 39.75em;
  background-image: url("./assets/BowlsSaladLogo.png");
  background-repeat: no-repeat;
}

.AboutUs-text1 {
  position: absolute;
  background: none;
  right: 6.25em;
  top: 6.5em;
  width: 28em;
}

.AboutUs-text2 {
  position: absolute;
  background: none;
  width: 40.5em;
  left: 6.375em;
  top: 34.68em;
}

.WoodenSpoonsImg {
  position: absolute;
  right: 0;
  top: 26.75em;
  width: 17.9375em;
  height: 24em;
  background-image: url("./assets/spoons.png");
  background-repeat: no-repeat;
}
h6 {
  margin: 1rem 0 0 0;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 2.0625rem;
  color: #000000;
}
.HowItWorks {
  height: 28.1em;
  text-align: center;
}
.HowItWorks-content {
  display: flex;
  justify-content: center;
  margin: 4em 0 4em 0;
}
.HowItWorks-design {
  background-image: url("./assets/ChooseDesign.png");
  width: 14.875em;
  height: 11.0625em;
}
.HowItWorks-measure {
  background-image: url("./assets/AreaMeasuring.png");
  width: 14.875em;
  height: 11.0625em;
}
.HowItWorks-budget {
  background-image: url("./assets/Budgeting.png");
  width: 14.875em;
  height: 11.0625em;
}
.HowItWorks-make {
  background-image: url("./assets/Production.png");
  width: 14.875em;
  height: 11.0625em;
}
